#app {
  
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 24px;
  }
  
  .input-group {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  input {
    width: 200px;
    margin: 0 16px;
  }
  
  button {
    width: 100px;
    margin: 0 16px;
  }